@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300);

body {
    font-family: 'Oxygen', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
}

.sort-ui, .filter-ui {
    margin-bottom: 1em;
}

.cards {
    margin: 0;
    padding: 0;
}

.card {
    list-style: none;
    padding: 10px;
    margin-bottom: 0.5em;
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 5px;
    clear: both;
}

.card img {
    float: left;
    max-width: 150px;
    border-radius: 5px;
}

.card .details {
    padding-left: 170px;
}

.card .name,
.card .title,
.card p {
    margin-top: 0;
    margin-bottom: 0.25em;
}

.card .title {
    font-size: 150%;
}

.card .department {
    font-size: 125%;
}

